APP_PORT=8001


DEBUG=False

# pgadmin4 in docker
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=123456
PGADMIN_PORT=9010
# DB SETTING
POSTGRES_NAME=postgres
DB_NAME=dropshipping_db
DB_USER=postgres
DB_PASSWORD=123456
# DB_HOST=db
DB_HOST=localhost


#REDIS SETTINGS
REDIS_HOST=localhost
REDIS_PORT=6379

# OTP management
OTP_VALIDATION_TIME=5
OTP_LENGHT=4

# Email management
EMAIL_PORT = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_HOST = ''
EMAIL_BACKEND=""

EMAIL_CONTACT="contact@gmail.com"

# Google Key management
GOOGLE_MAP_API_KEY=''
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=""
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=""


BACKEND_DOMAIN=http://localhost:8000

QUERY_PRODUCTS_DOMAIN=http://localhost:8001

